*
{
	box-sizing: border-box;
}

body
{
	color: #403e3b;
	font-family: Arial;
	padding: 20px;
	background: #403e3b;
}

header
{
	padding: 35px;
	text-align: center;
	background: #ffffff;
}

footer
{
	padding: 20px;
	text-align: center;
	background: #ffffff;
	margin-top: 20px;
}

main:after
{
	content: "";
	display: table;
	clear: both;
}

nav
{
	display: block;
}
nav ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;	
}

nav ul li
{
	display: inline-block;
	margin: 0px;
	padding: 5px;
}

nav ul li a
{
	color: #403e3b;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
	text-decoration: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before
{
	transition: all 0.5s;
}
nav ul li a:hover
{
	color: #403e3b;
}

nav.line ul li a
{
	position: relative;
}
nav.line ul li a:after
{
	background: #403e3b;
	bottom: 0;
	color: transparent;
	content: ".";
	height: 1px;
	left: 0;
	margin: auto;
	right: 0;
	width: 0%;
	position: absolute;
}

nav.line ul li a:hover:after
{
	width: 100%;
}

.card
{
	background-color: #ffffff;
	padding: 20px;
	margin-top: 20px;	
}

.cardButton
{
	background-color: #ffffff;
	padding: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.mainBlog
{
	float: left;
	width: 75%;
}

/* Right column */
.rightColumn
{
	float: left;
	width: 25%;
	padding-left: 20px;
}

.imgOne
{
	background-image: url(logo.png);
	background-color: #ffffff;
	background-position: center; 
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px;
}

.imgTwo
{
	background-image: url(under.jpg);
	background-color: #ffffff;
	background-position: center; 
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px;
}

.imgThree
{
	background-image: url(progress.jpg);
	background-color: #ffffff;
	background-position: center; 
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px;
}

.imgFour
{
	background-image: url(veggie.jpg);
	background-color: #ffffff;
	background-position: center; 
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px;
}

.imgFive
{
	background-image: url(.jpg);
	background-color: #ffffff;
	background-position: center; 
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px;
}

.imgSix
{
	background-image: url(shop.jpg);
	background-color: #ffffff;
	background-position: center; 
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px;
}

.imgAbout
{
	background-image: url(logoIcon.png);
	background-color: #ffffff;
	background-position: center; 
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px;
}

@media screen and (max-width: 800px)
{
	.mainBlog, .rightColumn
	{
		width: 100%;
		padding: 0;
    }
}

.buttonOne
{
	background-color: #403e3b;
	color: #ffffff;
	padding: 10px 20px 10px 20px;
	font-size: 1.17em;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.buttonOne:hover, .buttonOne:focus
{
	background-color: #4f4c48;
}

.archive
{
	position: relative;
	display: inline-block;
}

.archiveContent
{
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 102px;
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.archiveContent a
{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.archive a:hover
{
	background-color: #555555;
	color: #ffffff;
}

.show
{
	display: block;
}

.facebook
{
	background: inherit;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.facebook:hover
{
	background: #6d84b4;
}

.instagram
{
	background: inherit;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.instagram:hover
{
	background: #ffc838;
}

.twitter
{
	background: inherit;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.twitter:hover
{
	background: #00aced;
}

.imgOneFooter
{
	background-image: url("logoIcon.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 70px;
	margin: 20px 0px 0px 0px;
	padding: 20px 10px 20px 10px;
	position: relative;
}

.imgOneFooter ul
{
	list-style: none;
	margin-left: 0px;
	padding: 0px;
	text-align: center;
}

.imgOneFooter ul li
{	
	display: inline;	
	padding: 15px;
}

.imgOneFooter ul li a
{
	color: #403e3b;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}

#buttonTwo
{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	font-size: 1.17em;
	border: none;
	background-color: #8b8589;
	color: #ffffff;
	cursor: pointer;
	padding: 20px;
	border-radius: 5px;
}

#buttonTwo:hover
{
	background-color: #ffffff;
	border: 2px solid #8b8589;
	color: #8b8589;
	padding: 18px;
}

#socialMedia
{
	margin: 10px;
	padding: 10px;
}

#socialMedia form
{
	position: relative;
	top: -20px;	
}

#socialMedia form button
{
	float: left;
	margin-left: 10px;
}

#logoTopHeader
{
	background-image: url(logo.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: auto;
	margin: 0px 0px 0px 0px;
	padding: 135px 0px 0px 0px;
}
