main
{
	height: 65%;
	margin: 0px;
	padding: 0px;
}

.error
{
	background-color: #403e3b;
	color: #ffffff;
	margin: auto;
	padding: 30px 30px 30px 30px;
	position: relative;
	text-align: center;
	width: 25em;
	word-wrap: break-word;
}

.error h1
{
	margin: 0px 0px 30px 0px;
}

.error p
{
	margin-bottom: 20px;
	padding: 5px;
}

#footer
{
	background-color: #ffffff;
}

#imgOneBody
{
	background: url(error.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	overflow: hidden;
}
