#footer
{
	position:absolute;
	bottom:0;
	width:100%;
	height:92px;   /* Height of the footer */
}

#imgOneMain
{
	background: url(dinner720p.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 150px;
	overflow: hidden;
}

@media only screen and (min-width: 1920px)
{
	#imgOneMain
	{
		background: url(dinner1080p.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin: 0px;
		padding: 150px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 2560px)
{
	#imgOneMain
	{
		background: url(dinner1440p.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin: 0px;
		padding: 150px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 3840px)
{
	#imgOneMain
	{
		background: url(dinner4k.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin: 0px;
		padding: 150px;
		overflow: hidden;
	}
}

.mainOne
{
	background-color: #ffffff;
	color: #403e3b;
	margin: auto;
	padding: 30px 30px 30px 30px;
	position: relative;
	text-align: center;
	width: 500px;
	word-wrap: break-word;
	z-index: 100;
}

.mainOne h1
{
	margin: 0px;
}

.mainOne p
{
	font-size: 1.2em;
}

.mainOne ul
{
	list-style: none;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

.mainOne ul li
{
	display: inline-block;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 0.75em;
	text-decoration: none;
}

.mainOne ul li a
{
	color: #403e3b;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}

.input
{
	height:15px;
	margin: 0px;
	max-width: 280px;
	padding: 12px 20px;
	text-align:center;
	width: 100%;
}

.button
{
	background-color: #403e3b;
	border: 0px;
	border-radius: 0px;
	box-shadow: none;
	color: #ffffff;
	height: 40px;
	margin-top: 8px;
	padding-bottom: 3px;
	max-width: 322px;	
	width: 100%;
}