body
{	
	margin: 0px;
	font-family: Arial, Verdana, Sans-Serif;
}

nav
{
	display: block;
}
nav ul
{
	list-style: none;
	margin-top: 0px;
	padding-left: 0px;
	padding-bottom: 20px;
	text-align: center;	
}

nav ul li
{
	display: inline-block;
	padding: 5px;
}

nav ul li a
{
	color: #403e3b;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before
{
	transition: all 0.5s;
}
nav ul li a:hover
{
	color: #403e3b;
}

nav.line ul li a
{
	position: relative;
}
nav.line ul li a:after
{
	background: #403e3b;
	bottom: 0;
	color: transparent;
	content: ".";
	height: 1px;
	left: 0;
	margin: auto;
	right: 0;
	width: 0%;
	position: absolute;
}

nav.line ul li a:hover:after
{
	width: 100%;
}

#imgOneMain
{
	background: url(dinner720p.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 150px;
	overflow: hidden;
}

@media only screen and (min-width: 1920px)
{
	#imgOneMain
	{
		background: url(dinner1080p.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin: 0px;
		padding: 150px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 2560px)
{
	#imgOneMain
	{
		background: url(dinner1440p.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin: 0px;
		padding: 150px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 3840px)
{
	#imgOneMain
	{
		background: url(dinner4k.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin: 0px;
		padding: 150px;
		overflow: hidden;
	}
}

#logoTopHeader
{
	background-image: url(logo.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: auto;
	margin: 0px 0px 0px 0px;
	padding: 200px 0px 0px 0px;
}

#signin
{
	font-size: 0.9em;
}

#socialMedia
{
	padding: 10px;
}

#socialMedia form
{
	position: relative;	
}

#socialMedia form button
{
	float: right;
	margin-left: 10px;
}

.imgOneFooter
{
	background-image: url("logoIcon.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 70px;
	margin: 0px 10px 0px 10px;
	padding: 20px 10px 20px 10px;
	position: relative;
}

.imgOneFooter ul
{
	list-style: none;
	margin-left: 0px;
	padding: 0px;
	text-align: center;
}

.imgOneFooter ul li
{	
	display: inline;	
	padding: 15px;
}

.imgOneFooter ul li a
{
	color: #403e3b;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}

.input
{
	height:15px;
	margin: 0px;
	max-width: 280px;
	padding: 12px 20px;
	text-align:center;
	width: 100%;
}

.button
{
	background-color: #403e3b;
	border: 0px;
	border-radius: 0px;
	box-shadow: none;
	color: #ffffff;
	height: 40px;
	margin-top: 8px;
	padding-bottom: 3px;
	max-width: 322px;	
	width: 100%;
}

.facebook
{
	background: #ffffff;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.facebook:hover
{
	background: #6d84b4;
}

.instagram
{
	background: #ffffff;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.instagram:hover
{
	background: #ffc838;
}

.twitter
{
	background: #ffffff;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.twitter:hover
{
	background: #00aced;
}

.mainOne
{
	background-color: #ffffff;
	color: #403e3b;
	margin: auto;
	padding: 30px 30px 30px 30px;
	position: relative;
	text-align: center;
	width: 500px;
	word-wrap: break-word;
	z-index: 100;
}

.mainOne h1
{
	margin: 0px;
}

.mainOne p
{
	font-size: 1.2em;
}

.mainOne ul
{
	list-style: none;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

.mainOne ul li
{
	display: inline-block;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 0.75em;
	text-decoration: none;
}

.mainOne ul li a
{
	color: #403e3b;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}
